* {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Global values*/
 html{
    font-family: Arial, Helvetica, sans-serif;
    color: #344B59;
    line-height: 1.6;
 }
/* Navbar */

header{
    display: flex;
    justify-content: space-between;
    height: 64px;
    margin: 0 24px;
    align-items: center;
}

.brand{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo_colmar{
    font-size: 24px;
    color: #344B59;
    font-weight: 600;
}

.logo_academy{
    font-size: 24px;
    color: #75BFBF;
    font-weight: 600;
}

.nav ul{
    display: flex;
    list-style: none;
}

.nav li{
    padding-left: 16px;
}

/* Section 1 */

.start_here{
    background-color: #F0F0F2;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#banner{
    margin: 32px 24px;
    width: 60%;
}

.content_start{
    margin-left: 24px;
}

.content_start h1{
    font-size: 40px;
}

.content_start h2{
    margin: 20px 0;
    font-weight:lighter;
}

.content_start button{
    color: white;
    background-color: #589EA6;
    border: 0;
    padding: 16px;
    width: 90%;
}

/* Section 2 */

.practice{
    display: flex;
    width: 100%;
    align-items: space-between;
    margin: 32px 0 32px 24px;
}

.practice_left{
    margin-right: 24px;
    display: flex;
    flex-flow: column;
    width: 60%;
}

.practice_left h3{
    margin: 32px 0 24px 0;
}

.practice_left p{
    margin-bottom: 32px;
}

.practice_right{
    width: 40%;
}

.right_1, .right_2, .right_3{
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    background-color: red;
}

.orientation, .campus, .guest{
    width: 65%;
}

.right_3{
    background-color: #F0F0F2;
}

.practice_right a{
    text-decoration: none;
    color: #75BFBF;
}

.right_1 img, .right_2 img, .right_3 img{
    height: auto;
    padding-right: 16px;
    width: 35%;
}