.{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global values*/
html{
    color:#344B59;
    font-family: open sans;
    line-height: normal;
}

h1{
   font-weight:700
}
/* Navbar */

@media only screen and (min-width: 801px)

{
    .mobile{
        display: none;
    }


header, .links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 24px;
    height: 64px;
}

.brand{
    display: flex;
    font-size: 32px;
}

#logo{
    width: 32px;
}

#off-color{
    color: #75BFBF;
}

.links li{
    list-style: none;
    padding-left: 16px;
}

/* Section 1 */

.learn{
    display: flex;
    background-color: #F0F0F2;
    overflow: hidden;
    align-items: center;
}

.learn-left{
    width: 60%;
    padding: 32px 24px;
}

.learn img{
    width: 100%;
}

.learn-content{
    padding-left: 24px;
    width: 40%;
}

#start-here{
    padding: 16px; 
    border: 0;
    background-color: #589EA6;  
    width: 70%;
    font-size: 18px;
    color: white;
}

#start-here:hover{
    background-color: white;
    color: #589EA6;
}

/* Section 2 */

.practice{
    display: flex;
}

.practice-left{
    padding: 32px 24px;
    width: 60%;
}

.practice-left img{
    width: 100%;
}

.practice-right{
    width: 40%;
    padding-top: 32px;
    border-left-style: solid;
    border-width: 1px;
    border-color: #F0F0F2;
}

.cards{
    padding: 16px;
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: #F0F0F2;
}

.cards img{
    width: 35%;
    padding: 16px;
}

.card-txt{
    width: 65%;
    padding-right: 36px;
}

.card-txt a{
    text-decoration: none;
    color: #75BFBF;
}

#color-card{
    background-color: #F0F0F2;
}

/* Section 3 */

.start{
    background-color: #F0F0F2;
    width: 100%;
    padding-top: 32px;
}

.start h1{
    justify-content: center;
    display: flex;
}

.start-cards-above{
    padding: 32px 72px;
    display: flex;
    justify-content: center;
}

.card-course{
    width: 30%;
    background-color: white;
    margin: 0 1rem;

}

.start .card-course .course-img{
    width: 100%;
}

.start .card-course .course-img img{
    width: 100%;
}

.course-description p{
    color: #8798a2;
}

.course-description{
    padding: 0 36px;
}

.start-cards-below{
    display: flex;
    justify-content: center;
    padding: 0 72px 32px 72px;
}

/* Section 4 */

.thesis{
    display: flex;
}

.thesis-content h1{
    display: flex;
    justify-content: center;
    padding-top: 32px;
}

.thesis-col{
    display: flex;
    flex-direction: row;
}

.thesis-left{
    padding: 32px 24px;
    width: 60%;
}

.thesis-left video{
    width: 100%;
}

.thesis-right{
    width: 40%;
    padding-top: 32px;
}

.thesis-right .cards{
    border-style: none !important;
}

.cards{
    padding: 16px;
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: #F0F0F2;
}

.cards img{
    width: 35%;
    padding: 16px;
}

.mobile img{
    display: none;
}

.card-txt{
    width: 65%;
    padding-right: 36px;
}

.card-txt a{
    text-decoration: none;
    color: #75BFBF;
}

#color-card-2{
    background-color: #F0F0F2;
}

/* Footer */

.footer-content{
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
}

.footer-right{
    display: flex;
}

.footer-right p{
    padding-left: 16px;
}

}

/* Mobile version */

@media only screen and (max-width: 800px)
{
    .desktop{
        display: none;
    }

    .mobile{
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 12px;
    }

    /* Section 1 */

    .learn{
        width: 100%;
    }

    .learn img{
        width: 100%;
    }

    .learn-content{
        padding: 0 12px 32px 12px;
    }

    #start-here{
        padding: 16px; 
        border: 0;
        background-color: #3f8a93;  
        width: 100%;
        font-size: 18px;
        color: white;
    }

    /* Section 2 */

    .practice-left{
        display: none;
    }
    
    .practice-right{
        padding: 16px;
    }

    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-txt{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .cards img{
        width: 100%;
        height: auto;
    }

    .card-txt a{
        text-decoration: none;
        color: #75BFBF;
        padding-bottom: 12px;
    }

    /* Section 3*/

    .start{
        border-top-style: solid;
        border-width: 1px;
        border-color: rgb(230, 226, 226);
    }

    .start h1{
        justify-content: center;
        display: flex;
    }
    
    .course-img{
        display: none;
    }

    .course-description p{
        display: none;
    }

    .course-description h3{
        background-color: #F0F0F2;
        padding: 16px;
    }

    /* Section 4 */

    .thesis-content h1{
        display: flex;
        justify-content: center;
    }

    .thesis-left{
        width: 100%;
    }
    
    .thesis-left video{
        width: 100%;
    }

    .thesis-right{
        display: none;
    }

    /* Footer*/

    .footer-content{
        display: flex;
        flex-direction: row;
        font-size: 12px;
        padding-left: 16px;
    }
    


}