* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Global values*/

/* Navbar */

header{
    display: flex;
    justify-content: space-between;
    height: 64px;
    margin: 0 24px;
    align-items: center;
}

.brand{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo_colmar{
    font-size: 24px;
    color: #344B59;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.logo_academy{
    font-size: 24px;
    color: #75BFBF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.nav ul{
    display: flex;
    list-style: none;
}

.nav li{
    padding-left: 16px;
    font-family: Arial, Helvetica, sans-serif;
}