.{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global values*/
html{
    color:#344B59
}

/* Navbar */

header, .links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 24px;
    height: 64px;
}

.brand{
    display: flex;
    font-size: 32px;
}

#logo{
    width: 32px;
}

#off-color{
    color: #75BFBF;
}

.links li{
    list-style: none;
    padding-left: 16px;
}

/* Section 1 */

.learn{
    display: flex;
    background-color: #F0F0F2;
    overflow: hidden;
    align-items: center;
}

.learn-left{
    width: 60%;
    padding: 32px 24px;
}

.learn img{
    width: 100%;
}

.learn-content{
    padding-left: 24px;
    width: 40%;
}

#start-here{
    padding: 16px; 
    border: 0;
    background-color: #589EA6;  
    width: 70%;
    font-size: 18px;
    color: white;
}

#start-here:hover{
    background-color: white;
    color: #589EA6;
}

/* Section 2 */

.practice{
    display: flex;
}

.practice-left{
    padding: 32px 24px;
    width: 60%;
}

.practice-left img{
    width: 100%;
}

.practice-right{
    width: 40%;
    padding-top: 32px;
    border-left-style: solid;
    border-width: 1px;
    border-color: #F0F0F2;
}

.cards{
    padding: 16px;
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: #F0F0F2;
}

.cards img{
    width: 35%;
    padding: 16px;
}

.card-txt{
    width: 65%;
    padding-right: 36px;
}

.card-txt a{
    text-decoration: none;
    color: #75BFBF;
}

#color-card{
    background-color: #F0F0F2;
}

/* Section 3 */

.start{
    background-color: #F0F0F2;
    width: 100%;
}

.start h1{
    padding-top: 32px;
    justify-content: center;
    display: flex;
}

.start-cards-above{
    padding: 32px 72px;
    display: flex;
    justify-content: center;
}

.card-course{
    width: 30%;
    background-color: white;
    margin: 0 1rem;

}

.start .card-course .course-img{
    width: 100%;
}

.start .card-course .course-img img{
    width: 100%;
}

.course-description p{
    color: #8798a2;
}

.course-description{
    padding: 0 36px;
}

.start-cards-below{
    display: flex;
    justify-content: center;
    padding: 0 72px 32px 72px;
}